/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
=====================
CSS-RESET: start
=====================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=====================
CSS-RESET: end
=====================
*/

#specific-style {
	/* border-radius: 50%; */
	max-width: 100%;
	max-height: 100%;
	/* flex-direction: right; */
	position: relative;
	border: 1px solid black;
}

#style-info {
	text-align: left;
	padding-right: 900px;
}

#style-icons {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	max-width: 400px;
	border: 1px solid red;
}

#checkmark {
	height: 25px;
	width: 25px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: whitesmoke;
	border-radius: 50%;
}

.icon {
	object-fit: cover;
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

#main-img {
	border: 1px solid green;
	width: 850px;
	height: 600px;
	position: relative;
	overflow: hidden;
}

.specific-img {
	min-width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

#thumbnail-img {
	object-fit: cover;
	width: 75px;
	height: 75px;
	left: 0;
}

#style-photos-window {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	gap: 15px;
	max-height: 475px;
	min-height: 475px;
	max-width: 75px;
	border: 1px solid blue;
	position: absolute;
	top: 0;
	overflow: hidden;
	margin-top: 63px;
}

#style-photos {
  gap: 15px;
	display: flex;
	flex-direction: column;
	max-height: 550px;
	margin-top: 0;
	/* manipulate this based on what photos need to show */
	transition: margin-top 1s ease;
}

#up-arrow {
	position: absolute;
	top: 2.5%;
	width: 8%;
	height: 25px;
	color: whitesmoke;
	left: 0;
}

#down-arrow {
	position: absolute;
	bottom: 2.5%;
	width: 8%;
	height: 25px;
	color: whitesmoke;
	left: 0;
}

#highlight-img {
	border-bottom: 5px solid black;
}

#style-img {
	position: absolute;
}

#right-arrow {
	right: 0;
	top: 50%;
	width: 10%;
	height: 35px;
	position: absolute;
	color: whitesmoke;
}

#left-arrow {
	left: 0;
	top: 50%;
	width: 25%;
	height: 35px;
	position: absolute;
	color: whitesmoke;
}

#expanded-img {
	width: 100vw;
	height: 100vh;
	cursor: crosshair;
}

#expanded-view {
	position: relative;
	width: 100vw;
	height: 100vh;
}

#circle-expanded-view {
	position: absolute;
  bottom: 2%;
	left: 50%;
}

#circle {
	height: 5px;
	color: white;
	padding: 5px;
}

#exit-expanded {
	position: absolute;
	right: 0;
	top: 2%;
	width: 10%;
	height: 25px;
	color: whitesmoke;
}

#zoom {
	transform-origin: center;
	height: 100vh;
	width: 100vw;
}

#zoom-container {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.size-needed {
	color: red;
}

.review-count {
	border-bottom: 1px solid black;
	max-width: 120px;
}

.original-price {
	text-decoration: line-through;
}

.sale-price {
	color: red;
}

#product-styles-cart {
	/* display: inline-block; */
	/* justify-content: right; */
	border: 2px solid red;
	position: absolute;
	right: 5%;
	top: 10%;
	height: 600px;
}

#productInfo {
	/* position: relative; */
	/* justify-content: right; */
	border: 2px solid yellow
}

.product-name {
	font-weight: bold;
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5px;
}

.category-name {
	font-size: 25px;
  margin-top: 10px;
}

#styles {
	/* position: relative; */
	/* justify-content: right; */
	border: 2px solid black;
	max-width: 400px;
	margin-bottom: 20px;
}

#images-comp {
	/* position: relative; */
	display: inline-block;
	justify-content: left;
	border: 2px solid gray;
	margin-left: 70px;
}

#cart {
	position: absolute;
	/* flex-direction: right; */
	display: inline-block;
	border: 2px solid black;
	width: 400px;
}

#main-overview {
	display: inline-block;
	margin-top: 100px;
}

.size-selector-quantity-container {
  display: inline-block;
}

.size-selector {
	display: inline-block;
	width: 200px;
	height: 20px;
}

.quantity-selector {
	display: inline-block;
	width: 100px;
	height: 20px;
	margin-left: 20px;
}

.add-to-cart-star-container {
	display: inline-block;
	border: 2px solid black;
	width: 400px;
}

.add-to-cart-btn {
	display: inline-block;
	width: 250px;
	height: 50px;
}

.add-to-cart-container {
	display: inline-block;
}

.star {
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-left: 50px;
}

.star-container {
	display: inline-block;
	top: 0;
	right: 0;
}

.cart-container {
	border: 2px solid red;
	display: inline-block;
	margin-bottom: 20px;
}

#product-info {
  display: inline-block;
}

.stars {
	display: inline-block;
}

.review-count {
	display: inline-block;
	margin-left: 7px;
}

.original-price {
	font-size: large;
	margin-left: 5px;
}

.sale-price {
	font-size: large;
}

.o-price-original {
	font-size: large;
}

#style-info {
	display: inline-block;
	margin-top: 20px;
}

.style-name-info {
	border: 2px solid black;
	width: 400px;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 20px;
}

.style-text {
	display: inline-block;
	margin-right: 5px;
	font-weight: bold;
	font-size: large;
}

.carrot {
	display: inline-block;
	font-weight: bold;
	font-size: large;
}

#description-container {
	margin-left: 70px;
	min-width: 1275px;
	margin-bottom: 100px;
	height: 160px;
	border: 2px solid black;
}

.desc-ctn {
	min-width: 1275px;
}

.style-name {
	display: inline-block;
	margin-left: 10px;
	font-size: large;
}

.slogan {
	font-weight: bold;
	font-size: x-large;
	color: #454545;
	margin-bottom: 20px;
	margin-top: 50px;
}

.slogan-description {
	width: 772px;
	display: inline-block;
	margin-left: 80px;
	height: 157px;
	border: 2px solid salmon;
}

.features {
	display: inline-block;
	border-left: 3px solid #454545;
	width: 403px;
	position: absolute;
	height: 105px;
	margin-left: 12px;
	margin-top: 50px;
}

.features-list {
	display: inline-block;
	justify-content: right;
}

.indi-feature {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 10px;
	color: #454545;
}

.feature-check {
	margin-left: 10px;
	display: inline-block;
}

.description {
	color: #454545;
}
