/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
=====================
CSS-RESET: start
=====================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=====================
CSS-RESET: end
=====================
*/

.related-container {
	height: 800px;
	width: 1000px;
	border: 1px solid red;
}

.related-products-container, .your-outfit-container {
	height: 360px;
	border: 1px solid black;
	margin: 20px;
	display: flex;
	flex-direction: row;
}

.product-card-container {
	display: flex;
	flex-direction: column;
	height: 340px;
	width: 220px;
	margin-top: 10px;
	margin-left: 10px;
	border: 2px solid black;
	box-sizing: border-box;
}

.product-card-image {
	background: lightgray;
	height: 70%;
	width: 100%;
}

.product-card-description {
	display: flex;
	flex-direction: column;
	margin: 5px;
	justify-content: space-between;
	height: 30%;
}

.product-card-category {
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 5px;
}

.product-card-name {
	font-weight: bold;
	font-size: 16px;
}

.product-card-price {
	font-size: 12px;
}

.product-card-stars {
	margin-bottom: 5px;
}

/* <div className='product-card-image'>
	<div className='product-card-action-btn'></div>
</div>
<div className='product-card-description'>
	<div className='product-card-category'>{props.product.category}</div>
	<div className='product-card-name'>{props.product.name}</div>
	<div className='product-card-price'>{props.product.price}</div>
	<div className='product-card-stars'></div> */

