strong {
  font-weight: bold;
}
#qna {
	margin: 5px 0 5px 0;
	padding: 10px;
}
.qna-title {
  color: black;
  font-size: 40px;
	width: fit-content;
	padding: 10px;
	margin-bottom: 10px;
}
.qna-container {
  justify-content: center;
	margin: 5px;
}
.btn {
  position: relative;
	border-style: hidden;
	background-color: whitesmoke;
	cursor: pointer;
	font-family: Times, serif;
}
.list-container {
	width: 100%;
}

/* Search */
#q-search {
	width: 85%;
	margin: auto;
	border-bottom: 2px solid #202020;
	padding: 5px;
	margin-bottom: 15px;
	margin-left: 25px;
	border-radius: 2px;
	font-family: Times, serif;
}
#search-input {
	font-size: 17px;
	font-family: Times, serif;
	width: 100%;
	border-style: hidden;
	color: #202020;
	background-color: whitesmoke;
}

/* Question List */
#q-content {
	margin-bottom: 10px;
	padding: none;
	margin: 0 5%;
}
.q-btn-wrapper {
	width: fit-content;
	margin-top: 15px;
	padding: 5px;
}
#more-q,
#collapse-q,
#add-q {
	color: black;
	border: 1px solid black;
	margin: 5px;
	padding: 10px;
	font-size: 17px;
}
#more-q:hover,
#collapse-q:hover,
#add-q:hover {
	color: whitesmoke;
	background-color: black;
}

/* Question */
.question-container {
	margin: 10px 0 15px 0;
	width: 100%;
	font-size: 19px;
}
#add-ans {
	font-size: 14px;
	text-decoration: underline;
	margin-left: 14px;
}
#add-ans:hover {
	color: #4F74F7;
}

/* Answer List */
#a-content {
	padding-left: 5px;
}
#a-list {
	border-left: 2px solid black;
	padding-left: 5px;
}
#more-a, #collapse-a {
	color: black;
	border: 1px solid black;
	font-size: 14px;
	margin-right: 5px;
	padding: 5px;
}

#more-a:hover,
#collapse-a:hover {
	color: whitesmoke;
	background-color: black;
}

/* Answer */
#a-name {
	display: inline;
	margin-left: 20px;
}
#a-date {
	display: inline;
	padding-left: 3px;
	padding-right: 5px;
}
.answer-container {
	width: 100%;
	margin-bottom: 15px;
	padding-left: 5px;
}
.a-details {
	display: inline;
	font-size: 14px;
}
.thumbnail-container {
	margin-left: 20px;
}
.thumbnail {
	max-width: 80px;
	max-height: 80px;
	margin: 5px 10px 0 0;
	cursor: pointer;
	border-radius: 5px;
}

.modal-thumbnail-container {
	width: fit-content;
	height: auto;
	margin: 40px;
	background-color: whitesmoke;
	z-index: 6;
	position: fixed;
	top: 0;
}
.modal-thumbnail {
	max-width: 80vw;
	max-height: 80vh;
	border: 1px solid black;
}
#modal-btn {
	background-color: whitesmoke;
	border-radius: 50%;
	border: 1px solid black;
	color: black;
	position: absolute;
	margin: 5px 5px;
	font-family: Arial;
	font-weight: bolder;
	font-size: 17px;
	cursor: pointer;
	padding-top: 2px;
	z-index: 7;
}
#modal-btn:hover {
	background-color: black;
	color: whitesmoke;
}

/* Help/Report */
.helpful-report,
#report, #reported {
	display: inline;
}
#helpful {
	display:inline;
	font-size: 14px;
	border-right: 2px solid black;
	border-left: 2px solid black;
	padding-left: 5px;
}

#yes-btn,
#report-btn,
#reported {
	font-size: 14px;
	text-decoration: underline;
}

#reported {
	color: red;
	text-transform: uppercase;
	margin-left: 10px;
}

#yes-btn:hover {
	color: #22ad40;
}
#report-btn:hover {
	color: rgb(200, 0, 0);
}

/* Form */
.form {
	border: 2px solid black;
	width: 60%;
	height: auto;
  justify-content: center;
	margin: 40px 20% 20% 20%;
	background-color: black;
	font-family: Times, serif;
	z-index: 6;
	position: fixed;
	top: 0;
}
.form-header,
.form-footer {
	color: whitesmoke;
	width: 100%;
}
.form-body {
	background-color: whitesmoke;
	padding: 10px;
}

#form-close {
	background-color: black;
	border-radius: 50%;
	color: whitesmoke;
	float: left;
	position: relative;
	margin-left: 5px;
	font-family: Arial;
	font-weight: bolder;
	font-size: 17px;
	cursor: pointer;
	padding-top: 2px;
}
#form-title {
	margin: auto;
	width: fit-content;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 25px;
}
#form-subtitle {
	margin: auto;
	width: fit-content;
	margin-bottom: 10px;
	font-size: 18px;
}
#form-question {
	margin: 10px 0 15px 0;
}
#form-label {
	font-weight: bold;
	margin-bottom: 3px;
}
#form-box {
	height: 60px;
}
#form-box,
#form-input {
	font-family: Times, serif;
	width: 95%;
	margin: auto;
	font-size: 15px;
	border-style: hidden;
  background-color: #EEEEEE;
	color: #202020;
	padding: 5px;
	border-bottom: 2px solid black;
}
#form-below {
	font-style: oblique;
	font-size: 15px;
}
#form-submit {
	margin: 10px 40% 10px 40%;

	width: 20%;
	font-size: 17px;
	background-color: black;
	color: whitesmoke;
	padding: 5px;
	font-family: Times, serif;
	border: 1px solid whitesmoke;
}
#form-upload {
	font-size: 14px;
	font-family: Times, serif;
	padding: 5px;
	border: 1px solid black;
}

#form-close:hover {
	color: black;
	background-color: whitesmoke;
}
#form-submit:hover {
	background-color: whitesmoke;
	color: black;
}
#form-upload:hover {
	background-color: black;
	color: whitesmoke;
}