.ratings {
  color: rgb(80, 80, 80);
  margin: auto;
  text-align: center
}

.metadata {
  min-width: 250px;
  max-width: 300px;
  margin: auto;
}
.ratings .userReview {
  display: inline-block;
  padding: 10px 5px;
  width: 95%;
}
.userReviews {
  height: 80vh;
  overflow-y: auto;
  margin-top: 10px;
  min-width: 250px;
}
#username,
#characteristic-upperbound {
  text-align: left;
  display: inline;
}

.ratings .reviewBody{
  overflow-wrap: break-word;
}

.ratings .summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ratings .flex-box {
  display: flex;
  justify-content: space-between;
}

.ratings .review-thumbnail {
  display: inline-block;
  height: 50px;
  padding: 5px 10px 0px 10px;
  border-radius:20%;
}

.ratings .thumbnail-holder {
  display: flex;
  padding-bottom: 5px;
  justify-content: center;
  border-bottom: 1px solid black;
}

.ratings select {
  background-color: none;
  border: none;
  border-bottom: 1px solid black;
}

.user-review-wrapper {
  display: inline-block;
  width: 40%;
  min-width: 300px;
  text-align: left;
}

.metaDataDisplay {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 350px;
  min-width: 300px;
  padding-right: 10px;
  margin-right: 10px;
  text-align: left
}

.rating-wrapper p, .rating-wrapper svg {
  display: inline-block;
}

#ratings-list {
  display: inline-block;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#ratings-list:first-child {
  padding-left: 0px;
}

#ratings-list:last-child {
  padding-right: 0px;
}

#reviews-modal-overlay {
  z-index:12;
  position: absolute;
  z-index: 5;
  width: 5px;
  padding: 5px;
}

#reviews-modal-overlay:hover {
  color: rgb(100, 100, 100);
}

.reviews-modal img {
  position: fixed;
  max-width: 150vh;
  max-height: 80vh;
  /* border: 1px solid black; */
  float: right;
  margin: auto;
  right: 10%;
  left: 10%;
  border: 1px solid rgb(60, 60, 60);
}

.reviews-modal {
  position: fixed;
  background-color: white;
  z-index: 10;
  min-height: 50px;
  min-width: 60vh;
  margin: auto;
  left: 16%;
  right: 16%;
  top: 5%;
  overflow-y: auto;
}

.reviews-modal .review-review-form,
.reviews-modal .photo-modal {
  border: 1px solid rgb(60, 60, 60);
  padding: 30px 10px 10px 20px;
}

.reviews-modal, .review-review-form {
  max-width: 66vh;
  max-height: 90%;
}

.reviews-pointer,
.userReview .show-more-review {
  cursor: pointer;
}

.review-review-form td {
  padding: 5px 5px;
}

.characteristics-table td {
  width: 75px;
}

.review-review-form h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  text-decoration:underline;
}

.review-review-form .characteristic-label {
  font-size: 10px;
  text-align: center;

}

.characteristic-radio {
  text-align: center;
}

.review-review-form .text-input {
  width: 92%;
  /* max-width: 300px; */
}

.review-review-form .discloser,
.photo-modal .discloser {
  font-size: 10px;
  color: rgb(100, 100, 100);
}

.vertical-align {
  vertical-align: middle;
}

.review-review-form .review-form-err {
  color: rgb(200, 0, 0);
}


.userReview .username,
.userReview .show-more-review {
  font-size: 13px;
  color: rgb(100, 100, 100);
  font-weight: 100px;
}

.userReview .show-more-review {
  padding-bottom: 5px;
}

.userReview .reviewBody,
.userReview .reviews-helpfulness,
.userReview .recommend {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 300px;
  color: rgb(80, 80, 80);
}

.userReview .summary {
  font-size: 16px;
  font-weight: 600;
  padding: 7px 0;
  color: rgb(60, 60, 60);
}

.reviewListHeading .heading {
  font-weight: 700;
  font-size: 17px;
  color: rgb(80, 80, 80)
}

.reviewListHeading .heading select {
  font-size: 16px;
}

.user-review-wrapper .review-form,
.user-review-wrapper .show-more,
.user-review-wrapper .collapse-review,
.review-review-form button,
.photo-modal input,
.photo-modal button,
.meta-rating button {
  margin-right: 10px;
  background-color: white;
  border: 1px solid rgb(70, 70, 70);
  padding: 10px;
  color: rgb(70, 70, 70);
  font-size: 15px;
  margin-top: 5px;
  cursor: pointer;
}

.user-review-wrapper .review-form:hover,
.user-review-wrapper .show-more:hover,
.user-review-wrapper .collapse-review:hover,
.review-review-form button:hover,
.meta-rating button:hover {
  margin-right: 10px;
  background-color: rgb(70, 70, 70);
  border: 1px solid rgb(70, 70, 70);
  padding: 10px;
  color: white;
  font-size: 15px;
  margin-top: 5px;
  cursor: pointer;
}

.review-review-form button,
.review-review-form button:hover {
  font-size: 14px;
  padding: 7px;
}

.meta-rating button,
.meta-rating button:hover {
  font-size: 13px;
  padding: 5px;
}

.meta-rating .reviews-reset-filter {
  display: block;
  margin-bottom: 15px;
}


.errorMsg {
  color: rgb(80, 80, 80);
}

.ratings .metadata .heading{
  position: relative;
  font-size: 23px;
  font-weight: 200;
  color: rgb(70, 70, 70);
  margin-bottom: 10px;
  text-align: left;
}

.metadata .average-rating-tag {
  margin-top: 15px;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1px;
}

.metadata .heading {
  margin-bottom: 10px;
}

.metadata .recommended {
  padding-bottom: 5px;
  font-size: 14px;
  color: rgb(90, 90, 90)
}

.meta-rating {
  padding-top: 10px;
}
.product-breakdown {
  padding-top: 20px;
}

.individual-rating-bars .star-number,
.product-breakdown .product-breakdown-title {
  color: rgb(110, 110, 110);
  padding: 3px 0;
  font-size: 15px;
}

.review-review-form .general-review-spacer {
  width: 50%;
  margin: auto;
  border-bottom: 1px solid rgb(60, 60, 60);
  margin-top: 10px;
  margin-bottom: 10px;
}

.second-table .title {
  font-weight: 700;
  font-size: 16px;
}

.review-review-form .general-review,
.review-review-form .second-table {
  margin: 0 auto;
}

.product-breakdown .individual-characteristic{
  padding-bottom: 15px;
}

.product-breakdown .flex-box {
  font-size: 12px;
  color: rgb(90, 90, 90)
}

.general-review .rating-meaning-holder {
  width:100px;
}

.average-rating {
  display: inline-block;
  border-right: 1px solid rgb(70, 70, 70);
  padding-right: 10px;
  height: 70px;

}

.average-ratings-holder {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.photo-submission-thumbnails {
  height: auto;
  float: left;
  height: 100px;
}

.photo-modal {
  z-index: 100;
  height: 230px;
}

.photo-modal input {
  display: none;
}

.photo-modal label {
  padding: 10px 0;
  display: block;
  cursor: pointer;
  text-align: center;
  height: 70px;
  border: 1px solid rgb(70, 70, 70);
}

.photo-modal label .camera-icon{
  display: block;
  height: 40px;
  align-content: center;
  margin: auto;
}

.photo-modal .photo-submission-thumbnails {
  display: flex;
}

.photo-modal .photo-submission-thumbnails img {
  position: relative;
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  border-radius: 10%;
}

.ratings .successful-form {
  color: rgb(10, 191, 58);
  animation-name: success;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@keyframes success {
  from {}
  to {
    color: white;
    visibility: hidden;
    animation-play-state: paused;
  }
}